@import './../../../../variables.scss';

@keyframes card {
    0% {
        transform: scale(1.1) rotate(0deg);
        box-shadow: 0 12px 35px $green;
    }

    25% {
        transform: scale(1.2) rotate(-1deg);
        box-shadow: 0 8px 38px $green;
    }

    50% {
        transform: scale(1.1) rotate(0deg);
        box-shadow: 0 10px 39px $green;
    }

    75% {
        transform: scale(1.2) rotate(1deg);
        box-shadow: 0 9px 33px $green;
    }

    100% {
        transform: scale(1.1) rotate(0deg);
        box-shadow: 0 12px 37px $green;
    }
}

  
.card-list-container {
    width: 100%;
    padding: 0 5%;
    margin-top: 320px;

    ul {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
            background: rgba(255, 255, 255, 0.5); 
            backdrop-filter: blur(5px);
            border-radius: 15px;
            padding: 20px 20px 40px;
            margin: 95px 22px;
            width: 350px;
            flex-direction: column;
            display: flex;
            box-shadow: 0 10px 30px $green;
            transition: all 3s ease-in-out;
            cursor: pointer;

            &:hover {
                animation: card infinite 4s ease;
                transition: all ease-in-out;
            }
            
            a {
                text-decoration: none;
                
                .card-info {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    h6 {
                        width: 100%;
                        text-align: center;
                        margin: 15px 0;
                        font-size: 33px;
                        text-transform: uppercase;
                        color: $cardtitle;
                        font-weight: 900;
                        letter-spacing: -1px;
                        overflow: hidden;
                        height: 40px;
                    }

                    .card-info-text-home {
                        text-transform: uppercase;
                        font-size: 18px;
                        color: $cardtitle;
                        font-weight: bold;
                    }

                    .card-info-text-container {
                        height: 50px;
                        line-height: 50px;
                        align-items: center;

                        .type-icon-home {
                            height: 50px;
                            margin-right: 10px;
                        }

                        div {
                            height: 50px;
                            line-height: 50px;

                            span {
                                position: absolute;
                                height: 50px;
                                line-height: 50px;
                            }
                        }
                    }
                }

                .card-img {
                    width: 86%;
                    margin: -130px 7% 0;
                    border-width: 5px;
                    @include image-gradient-border; 
                }
            }
        }
    }

    
    @media screen and (max-width: 1024px) {
        margin-top: 360px;
    }
}

.paginator {
    width: 100%;

    ul {
        width: 40%;
        overflow-y: hidden;
        overflow-x: scroll;
        margin: 20px 30%;
        display: flex;
        height: 80px;
        padding-bottom: 10px;
        margin-bottom: 30px;

        li {
            cursor: pointer;
            width: 40px;
            height: 40px;
            line-height: 40px;
            padding: 0px 20px;
            text-align: center;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover,
            &.pag-act {
                background-color: $cardtitle;
                color: white;
                font-weight: bold;
            }

            &:last-child {
                border-right: none;
            }
        }
    }
}

