header {
    width: 100%;
    padding: 20px 2%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }

   .logo {
        width: 350px;
        animation: logo infinite 2s ease;
        transition: all ease-in-out;

      @media screen and (max-width: 1024px) {
        width: 80%;
        margin: 20px 6%;
      }
   }

   .container-search-bar {
        display: flex;

                
        @media screen and (max-width: 1024px) {
            display: block;
            width: 100%;
        }

        nav {
            ul {
                height: 30px;
                line-height: 30px;
                display: flex;
                justify-content: flex-start;
                width: fit-content;
                margin: 10px 20px 0 0;

                li {
                        color: #fff;
                        padding: 5px 8px;
                        height: 30px;
                        line-height: 30px;

                        &.menu-bullet {
                            font-size: 50px;
                        }

                        a {
                            color: #fff;
                            text-decoration: none;
                            border-bottom: 3px solid transparent;
                            cursor: pointer;
                            transition: all .2s ease;
                            font-weight: bold;
                            
                            &:hover {
                                border-bottom: 3px solid #fff;
                            }
                        }
                }
            }
        }
   }
}

@keyframes logo {
   0% {
       transform: scale(1) rotate(0deg);
   }

   25% {
       transform: scale(1.05) rotate(-1deg);
   }

   50% {
       transform: scale(1) rotate(0deg);
   }

   75% {
       transform: scale(1.1) rotate(2deg);
   }

   100% {
       transform: scale(1) rotate(0deg);
   }
}