<section *ngIf='!error'>
   <div class='card-container'>
      <img src='{{ cardImage }}' class='card-large-image' />

      <div class='card-info-container'>
         <div class='scroll-container'>

            <!-- Header -->
            <div class='card-info-header'>
               <div class='card-info-header-title-hp'>
                  <h1>{{ card['name'] }}</h1>

                  <div class='hp-container'>
                     <img [src]='typeImg' class='type-icon' />

                     <span class='hp-txt'>hp <b>{{ card['hp'] }}</b></span>
                  </div>
               </div>

               <div class='full flex space-between sub-title-info-container'>
                  <div class='supertype-container'>
                     <span class='supertype'>{{ card['supertype'] }}</span>

                     <b class='bullet'>•</b>

                     <ul>
                        <li *ngFor='let subtype of subtypes'>{{ subtype }}</li>
                     </ul>

                     <b class='bullet'>•</b>

                     <span>level <b class='level'>{{ card['level'] }}</b></span>
                  </div>

                  <span class='card-id'>{{ card['id'] }}</span>
               </div>
            </div>

            <div class='full flavor-text'>
               {{ card['flavorText'] }}
            </div>
            <!-- Header -->


            <!-- Info 1 -->
            <div class='card-info-cols flex space-between full'>
               <!-- Col A -->
               <div class='col-a'>
                  <div class='full'>
                     <h6 class='card-info-sub-title full'>Attack List</h6>

                     <ul>
                        <li *ngFor='let attack of card["attacks"]'>
                           <div class='attack-title-container'>
                              <span class='name'>{{ attack['name'] }}</span>
                              <span class='damage'>{{ attack['damage'] }}</span>                           
                           </div>
   
                           <div class='full attack-text'>{{ attack['text'] }}</div>
   
                           <div class='full cost-container'>
                              <span>Cost:</span>
                              <img *ngFor='let cost of attack["cost"]' src='./../../../../assets/images/symbols/{{ cost | lowercase }}.png' />
                           </div>
                        </li>
                     </ul>
                  </div>

                  <div class='full'>
                     <h6 class='card-info-sub-title full'>Set</h6>
   
                     <img src='{{ card["set"]["images"]["logo"] }}' class='logo-set' />
                  </div>
               </div>
               <!-- Col A -->

               <!-- Col B -->
               <div class='col-b'>
                  <div class='full'>
                     <h6 class='card-info-sub-title full'>Weakness</h6>

                     <ul>
                        <li class='flex space-between full weakness' *ngFor='let weakness of card["weaknesses"]'>
                           <img src='./../../../../assets/images/symbols/{{ weakness["type"] | lowercase }}.png' />

                           <div class='attack-title-container'>
                              <span class='name'>{{ weakness['type'] }}</span>
                              <span class='damage'>{{ weakness['value'] }}</span>                           
                           </div>
                        </li>
                     </ul>
                  </div>

                  <div class='full'>
                     <h6 class='card-info-sub-title full'>Rarity</h6>

                     <span class='rarity'>{{ card['rarity'] }}</span>                         
                  </div>
               </div>
               <!-- Col B -->
            </div>
            <!-- Info 1 -->
         </div>
      </div>
   </div> 
</section>

<section class='error-container' *ngIf='error'>
   <img src='./../../../../assets/images/card-not-found.png' />
</section>