@import './../../../../variables.scss';

.level {
   font-weight: 900;
   font-size: 20px;
}

.card-container {
   position: relative;
   width: 90%;
   margin: 200px 5%;
   display: flex;
   align-items: center;

   .card-info-container {
      background: rgba(255, 255, 255, 0.2);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, .5);
      width: 70%;
      padding: 40px 40px 40px 100px;
      min-height: 800px;

      .scroll-container {
         overflow: auto;
         height: 90vh;
         width: 100%;
         padding-right: 40px;

         .card-info-header {
            .card-info-header-title-hp {
               width: 100%;
               display: flex;
               justify-content: space-between;

               .hp-container {
                  display: flex;
                  justify-content: space-between;
                  margin-top: 10px;

                  @media screen and (max-width: 1024px) {
                     justify-content: flex-start;

                     .type-icon {
                        width: 50px;
                        height: 50px;
                     }
                  }
               }

               @media screen and (max-width: 1024px) {
                  display: block;
               }
            }

            .sub-title-info-container {
               border-bottom: 1px solid rgba(0, 0, 0, 0.2);
               padding-bottom: 5px;
               margin: 5px 0 10px 0;
               font-family: $mainfont;

               @media screen and (max-width: 1024px) {
                  border-bottom: none;
                  margin-bottom: 20px;               }

               .card-id {
                  font-weight: bold;
                  font-size: 22px;
                  color:rgba(0, 0, 0, .4)
               }

               .supertype-container {
                  height: 30px;
                  line-height: 20px;
                  font-size: 20px;
                  color: $lightgreen;
                  display: flex;
                  justify-content: space-between;

                  @media screen and (max-width: 1024px) {
                     display: block;
                  }

                  .bullet {
                     font-size: 50px;
                     margin: 0 15px;

                     @media screen and (max-width: 1024px) {
                        display: none;
                     }
                  }

                  .supertype {
                     font-weight: bold;
                  }

                  ul {
                     li {
                        font-weight: 300;
                     }

                     
                     @media screen and (max-width: 1024px) {
                        display: block;
                        width: 100%;

                     }
                  }
               }
            }

            h1 {
               font-size: 40px;
               color: $green;
               font-family: $mainfont;
               font-size: 60px;
               text-transform: uppercase;
               letter-spacing: -1px;

               @media screen and (max-width: 1024px) {
                  font-size: 30px;
                  width: 100%;
               }
            }
   
            .type-icon {
               width: 60px;
               height: 60px;
               margin-right: 15px;
            }
   
            .hp-txt {
               font-size: 25px;
               font-family: $mainfont;
               color: $green;
               height: 60px;
               line-height: 55px;
               letter-spacing: -1px;
   
               b {
                  font-size: 50px;
                  font-weight: 900;
               }

               @media screen and (max-width: 1024px) {
                  font-size: 20px;

                  b {
                     font-size: 30px;
                     font-weight: 900;
                  }
               }
            }
         }

         .card-info-cols {
            margin-top: 40px;
            font-family: $mainfont;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 1024px) {
               display: block;
            }


            .col-a, .col-b {
               width: 47%;

               @media screen and (max-width: 1024px) {
                  width: 100%;
               }

               .card-info-sub-title {
                  font-weight: 700px;
                  font-size: 40px;
                  color: $lightgreen;
                  
                  @media screen and (max-width: 1024px) {
                     font-size: 20px;
                  }
               }

               ul {
                  li {
                     margin-bottom: 30px;

                     .attack-title-container {
                        font-size: 25px;
                        color: $subtitle;
                        margin-bottom: 10px;
                        font-weight: 500;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                        padding-bottom: 3px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;  

                        .name {
                           margin-top: 16px;
                           font-weight: 500;
                           text-shadow: 0 0 1px $subtitle;
                        }

                        .damage { 
                           font-size: 40px;
                           font-weight: 600;
                        }

                        @media screen and (max-width: 1024px) {
                           font-size: 18px;

                           .name {
                              margin-top: 5px;
                           }

                           .damage { 
                              font-size: 30px;
                           }
                        }
                     }

                     .attack-text {
                        margin-bottom: 10px;
                        font-size: 19px;
                        color: $lightgreen;
                        font-style: italic;
                        width: 100%;

                        @media screen and (max-width: 1024px) {
                           font-size: 15px;
                        }
                     }

                     .cost-container {
                        height: 50px;
                        line-height: 50px;
                        display: flex;
                        align-items: center;

                        span {
                           margin-right: 10px;
                           color: $lightgreen;
                           font-size: 15px;
                           font-weight: bold;
                        }

                        img {
                           width: 40px;
                           height: 40px;
                           margin-right: 5px;
                        }
                     }
                  }
               }
            }

            .col-a {
               ul {
                  margin-top: 10px;
               }
            }

            .col-b {
               .rarity {
                  width: 100%;
                  font-size: 25px;
                  font-family: $mainfont;
                  color: $subtitle;
                  margin-top: 25px;
                  display: block;
                  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                  padding-bottom: 8px;
               }
            }

            .weakness {
               img {
                  width: 50px;
                  height: 50px;
                  margin: 10px 10px 0 0;
               }
            }
         }
      }

      @media screen and (max-width: 1024px) {
         margin-top: 50px;
         width: 100%;
         padding: 20px;
         min-height: unset;
      }
   }

   .card-large-image {
      height: 60%;
      position: relative;
      display: block;
      margin-right: -135px;
      z-index: 2;
      transform: scale(.80);
      border-width: 8px;
      @include image-gradient-border;
      border-radius: 45px;

      @media screen and (min-width: 1025px) and (max-width: 1366px) {
         margin-right: -105px;
         margin-left: -30px;
         width: 40%;
         border-width: 5px;
         transform: scale(1);
      }

      @media screen and (max-width: 1024px) {
         width: 100%;
         height: unset;
         margin-right: unset;
         margin-left: unset;
         transform: scale(1);
         border-width: 5px;
      }
   }

   @media screen and (max-width: 1024px) {
      display: block;
      margin-top: 340px;
      
      backdrop-filter: blur(10px);
   }
}

.flavor-text {
   font-size: 18px;
   font-style: italic;
   color: darkslategrey;
   font-weight: 100;
   margin-bottom: 10px;
}

.error-container {
   width: 100%;
   display: flex;
   justify-content: center;

   img {
      max-width: 900px;
      min-width: 200px;
      width: 40%;
      margin-top: 150px;
   }
}

.logo-set {
   width: 100%;
   display: block;
   float: left;
   max-width: 350px;
   min-width: 150px;
   
   @media screen and (max-width: 1024px) {
      margin-bottom: 30px;
   }
}