@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700;900&display=swap');

* {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', 'Helvetica', 'Arial', sans-serif;
}

a, button {
    cursor: pointer;
}

ul {
    list-style: none;
}