$mainfont: 'Red Hat Display', 'Helvetica', 'Arial', sans-serif;

$green: #004950;
$hovergreen: #00474d;
$lightgreen: #126269;
$cardtitle: #2b8882;
$darkgray: #222;
$gray: rgb(125, 125, 125);
$transparent: rgba(0, 0, 0, .0);